<html>

<head>
  <%- include('head') %>
</head>

<body>
  <center>
    <br>
    <h1>Reading Note</h1>
    <br>
    <input type="button" value="로그인" , onclick="location.href='/login'">
    <input type="button" value="회원가입" , onclick="location.href='/register'">
  </center>
</body>

</html>