body {
  font-family: 'Nanum Gothic', sans-serif;
  font-family: 'Nanum Myeongjo', serif;
  font-size:20pt;
}

.table {
  margin: auto;
  width: 80% !important; 
}

.align-center {
  text-align: center !important;
}